
   body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.ambulance-container {
    max-width: 1200px;
    margin: 0 auto;
}

.search-bar {
    margin-bottom: 20px;
}
.searchbar span{
    font-weight: bold;
    font-size: 20px;
}

header{
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.filter-section input{
        width: 90%;
        padding: 10px;
        font-size: 16px;
        border-radius: 8px;
}
 

.sort-filter {
    margin-top: 30px;
    margin-bottom: 0;
}

.sort-filter select {
    width: 6%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
}



.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
   
}

.ambulance {
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.6s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.ambulance img {
    width: 100%;
    transition: transform 0.3s ease;
}

.ambulance:hover {
    
    transform: scale(1.05);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.ambulance:hover img {
    transform: scale(1.0);
}

.ambulance:hover .ambulance-outside{
    display: none;
}

.ambulance-inside{
    display: none;
}

.ambulance:hover .ambulance-inside{
    display: block;
    object-fit: cover;
}

.text-after{
    display: none;
}

.ambulance:hover .text-after{
    display: block;
}

